*{
    @apply p-0 m-0 box-border
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}


*::-webkit-scrollbar-thumb {
    background-color: #1b734f;
    border-radius: 40px;
}

.trainingIcon{
    display: flex;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.programme{
    border-left: 0.1rem solid #c2c2c2;
}

footer{
    border-top: 0.2rem solid #dfe4ea;
}

.h1-info{
    font-weight: 700;
    color: #3e4462;
    margin-bottom: 1.5rem;
}