@tailwind base;
@tailwind components;
@tailwind utilities;

.training{
    font-size: 2.5rem;
}

.trainingIcon{
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}

.programme{
    border-left: 0.1rem solid #c2c2c2;
}

footer{
    border-top: 0.2rem solid #dfe4ea;
}

.h1-info{
    font-size: 2rem;
    font-weight: 700;
    color: #3e4462;
    margin-bottom: 2rem;
}